* {
   --state-duration: none;
   --state-duration-enter: none;
   --state-duration-leave: none;
}

/* @keyframes collapseFadeIn {
   from {
      opacity: 0;
      height: 0;
   }
   to {
      opacity: 1;
      height: var(--height);
   }
}

@keyframes collapseFadeOut {
   from {
      opacity: 1;
      height: var(--height);
   }
   to {
      opacity: 0;
      height: 0;
   }
}
.animate-collapse-fade-in {
   animation: 0.5s collapseFadeIn forwards;
}
.animate-collapse-fade-out {
   animation: 0.5s collapseFadeOut forwards;
} */

@keyframes headshake {
   0% {
      transform: translateX(0);
   }

   6.5% {
      transform: translateX(-6px) rotateY(-9deg);
   }

   18.5% {
      transform: translateX(5px) rotateY(7deg);
   }

   31.5% {
      transform: translateX(-3px) rotateY(-5deg);
   }

   43.5% {
      transform: translateX(2px) rotateY(3deg);
   }

   50% {
      transform: translateX(0);
   }
}

.animate-headshake {
   animation: 1s headshake;
}
