.feedback-modal {
   --state-duration: 0;
   transition: 0.35s;
   @media (prefers-reduced-motion: reduce) {
      transition: none;
   }
   background-color: rgba(#ebe9e1, 0.7);
   &.v-enter-from,
   &.v-leave-to {
      opacity: 0;
   }
}
.feedback-modal-content {
   --state-duration: 0.15s;
   transition: 0.35s cubic-bezier(0.45, 0, 0.55, 1);
   @media (prefers-reduced-motion: reduce) {
      transition: none;
   }
   &.v-enter-from,
   &.v-leave-to {
      opacity: 0;
      transform: translateX(20rem);
   }
}

.feedback-modal-content {
   background-color: #fff;
   width: 86rem;
   height: 100%;
   margin-right: 0;
   padding: 5.5rem 9rem;
   color: #52514b;
   display: grid;
   align-items: flex-end;
   overflow: hidden auto;
   .modal-close {
      position: absolute;
      top: 4rem;
      right: 4rem;
   }
}

.modal-feedback-form {
   &__title {
      font-size: 3.6rem;
      font-weight: 600;
      margin-bottom: 0.5em;
   }
   &__desc {
      margin-bottom: 3rem;
   }
}
