.header {
   background-color: #f8f5f3;
   padding: 3.2rem 0;
   color: #52514b;
   .container {
      display: flex;
      align-items: center;
   }
}

.main-nav {
   font-size: 1.6rem;
   ul {
      display: flex;
   }
   a {
      padding: 1rem;
   }
}

.main-phones {
   svg {
      display: none;
   }
}
.callback-btn {
   margin-left: auto;
}
.langs {
   margin-left: 1rem;
   text-transform: uppercase;
   font-size: 1.4rem;
   a {
      display: block;
      padding: 1rem;
   }
}
